<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="validator" class="com.codi.base.validation.ValidatorFactoryBean"/>

    <bean id="validatorAdapter" class="com.codi.base.validation.CodiSpringValidatorAdapter">
        <constructor-arg type="javax.validation.Validator" ref="validator"/>
    </bean>


    <bean id="pagePlugin" class="com.codi.base.dao.plugin.page.PagePlugin">
        <property name="properties">
            <props>
                <prop key="dialect">mysql</prop>
                <prop key="pageSqlId">.*query.*</prop>
            </props>
        </property>
    </bean>


    <bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
        <property name="connectionFactory" ref="redisConnectionFactory"/>
        <property name="defaultSerializer">
            <!-- 使用简单的字符串序列化 -->
            <bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
        </property>
        <!-- 序列化对象 -->
        <property name="valueSerializer">
            <bean class="org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer"/>
        </property>
    </bean>
    <!-- redis end -->

    <!-- 用于持有ApplicationContext,可以使用SpringContextHolder.getBean('xxxx')的静态方法得到spring bean对象 -->
    <bean class="com.codi.base.spring.SpringContextHolder" lazy-init="false"/>
    <!--job factory, 用于把Spring对象注入到Quartz-->
    <bean id="codiJobFactory" class="com.codi.base.spring.CodiJobFactory"></bean>

    <!--spring session-->
    <bean class="org.springframework.session.web.http.DefaultCookieSerializer">
        <property name="cookieName" value="JSESSIONID"/>
        <!--<property name="cookiePath" value="/"/>-->
        <!-- <property name="domainName" value="example.com"></property> -->
        <!--<property name="domainNamePattern" value="^.+?\.(\w+\.[a-z]+)$"/>-->
    </bean>
    <bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration"/>

</beans>
