<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
        </encoder>
    </appender>

    <appender name="FILEOUT_SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.sql.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] [%class:%line] - %m %n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logging.path}/${logging.filename}.%d{yyyy-MM-dd}.sql.log.zip</fileNamePattern>
            <maxHistory>180</maxHistory>
        </rollingPolicy>
    </appender>


    <root level="WARN">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILEOUT_SQL"/>
    </root>

    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="local,test,dev">
        <logger name="com.codi" level="DEBUG"/>

        <logger name="java.sql" level="INFO"/>
        <logger name="org.springframework.web" level="WARN"/>
        <logger name="org.springboot.sample" level="INFO"/>
        <logger name="org.mybatis" level="INFO"/>
        <logger name="org.apache.ibatis" level="INFO"/>
        <logger name="druid.sql" level="DEBUG" additivity="false">
            <appender-ref ref="FILEOUT_SQL"/>
        </logger>
        <logger name="org.apache.juli" level="WARN"/>
    </springProfile>

</configuration>
